*.iml
.gradle
.DS_Store
.externalNativeBuild
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/build
/captures
/common/build
/ios/DerivedData
/ios/Frameworks/konan
/ios/SlideRehearser.xcodeproj/project.xcworkspace/xcuserdata
/ios/SlideRehearser.xcodeproj/xcuserdata
/common/slideparser/build
slideparser-debug.aar
